html{
    scroll-behavior: smooth;
}
main {
    #main-headd {
        .page {
            z-index: +11 !important;
            position: relative;
            padding: 10rem 0;
            text-align: center;
            background: url(../img/company-image/Milis-Agronomist-.jpg) !important;
            background-repeat: no-repeat;
            background-size: cover !important;

            h1 {
                font-size: 60px;
                font-weight: 600;
                color: white;
                letter-spacing: 10px;
                font-family: "open sans", helvetica, sans-serif;
            }

            ul {
                padding-top: 4rem;
                display: flex;
                justify-content: center;

                li {
                    a {
                        color: white;
                        font-weight: bold;
                        text-decoration: none;
                        text-transform: uppercase;
                        background-image: linear-gradient(to right,
                                $main-color,
                                $main-color 50%,
                                #ffffff 50%);
                        background-size: 200% 100%;
                        background-position: -100%;
                        display: inline-block;
                        position: relative;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        transition: all 0.3s ease-in-out;

                        &::before {
                            content: "";
                            background: $main-color;
                            display: block;
                            position: absolute;
                            bottom: -3px;
                            left: 0;
                            width: 0;
                            height: 3px;
                            transition: all 0.3s ease-in-out;
                        }

                        &:hover {
                            background-position: 0;
                        }

                        &:hover::before {
                            width: 100%;
                        }
                    }
                }

                i {
                    color: $main-color;
                    padding: 0 10px;
                }
            }

            .overlay {
                z-index: -99;
                position: absolute;
                content: " ";
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: url(https://demo.themefisher.com/bizcraft/images/overaly.png);
            }
        }
    }

    #main-content {
        .container {
            position: relative;

            .watermark {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                width: 100%;
                height: 200px;
                color: #000000;
                font-weight: bold;
                letter-spacing: 3px;
                text-transform: uppercase;
                text-align: center;

                &::before {
                    content: attr(data-watermark);
                    position: absolute;
                    z-index: -1;
                    top: 50%;
                    left: 50%;
                    font-size: 118px;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    width: calc(100vw - 35px);
                    height: 100%;
                    transform: translate(-50%, -25%);
                    color: #f0f0f0;
                    font-family: "Fira Sans Condensed", sans-serif;
                    letter-spacing: 0;
                }
            }

            .circle {
                position: absolute;
                top: 0;
                right: 0;
                z-index: -1;
                width: 300px;
                height: 300px;
                transform: translate(30%, -40%);
                border-radius: 50%;
                border: 2px solid #ff9030;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50px;
                    left: 50px;
                    z-index: -1;
                    border-radius: 50%;
                    border: 2px solid #ff9030;
                    width: 200px;
                    height: 200px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 90px;
                    left: 95px;
                    z-index: -1;
                    width: 108px;
                    height: 112px;
                    border-radius: 50%;
                    border: 2px solid #ff9030;
                }
            }

            .card-text {
                padding: 0 30px;

                h2 {
                    font-size: 30px;
                    line-height: 1.2;
                    text-transform: none;
                    font-weight: 700;
                    letter-spacing: 0;
                    color: #212121;
                    margin-bottom: 20px;
                }

                p {
                    margin: 20px 0 24px 0;
                    padding: 0;
                    letter-spacing: 0px;
                    color: #616161;
                    font-size: 18px;
                    font-weight: 400;
                    font-family: "open sans", helvetica, sans-serif;
                }
            }

            .expos-img {
                width: 100vw;
                position: relative;
                left: 49%;
                transform: translateX(-50%);

                img {
                    max-width: 100%;
                    height: auto !important;
                    border: 0;
                    vertical-align: bottom;
                    margin: 0;
                }
            }

            .expos-card {

                .left-text {
                    color: #ffffff;
                    background-color: #224433 !important;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    h2 {
                        text-align: center;
                        font-size: 30px;
                        line-height: 1.2;
                        text-transform: none;
                        font-weight: 700;
                        letter-spacing: 0;
                    }
                }

                img {
                    max-width: 100%;
                    height: auto !important;
                    border: 0;
                    vertical-align: bottom;
                    margin: 0
                }
            }

            .mission-text {
                .watermarkk {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0;
                    width: 100%;
                    height: 200px;
                    color: #000000;
                    font-weight: bold;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    text-align: center;

                    &::before {
                        content: attr(data-watermark);
                        position: absolute;
                        z-index: -1;
                        top: 50%;
                        left: 60%;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        width: 100%;
                        height: 100%;
                        transform: translate(-50%, -50%);
                        color: #f0f0f0;
                        font-family: 'Fira Sans Condensed', sans-serif;
                        font-size: 70px;
                        letter-spacing: 0;
                    }
                }

                ul {
                    li {
                        list-style: none;
                        margin-top: 20px;
                        font-weight: bold;

                        span {
                            background-color: $main-color;
                            padding: 6px 8px;
                            border-radius: 50%;
                            color: #ffffff;
                            font-weight: bold;
                            margin-right: 10px;
                        }
                    }
                }

            }

        }
    }

    #main-end {
        margin: 60px 0;

        .video-container {
            background: rgba(0, 0, 0, 0.5);
            position: relative;
            width: 100%;
            height: 0;
            padding: 0;
            padding-bottom: 56.25%;
            margin: auto;
            overflow: hidden;

            iframe {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 0
            }
        }

        a {
            text-decoration: none;
            color: #000000;
        }

        .passage-card {
            .passage-img {
                width: 100%;
                height: 100%;
                object-fit: cover;

                img {
                    width: 300px;
                    height: 200px;
                }
            }

            .passage-text {
                padding-top: 20px;

                h4 {
                    color: #000000;
                    font-weight: bold;
                }

                p {
                    text-align: center;
                }

                button {
                    background-color: $main-color;
                    width: 100%;
                    border: none;
                    padding: 5px;
                }
            }
        }
    }

}
.button {
    display: inline-block;
    background: #ffffff;
    text-align: center;
    width: 45px;
    height: 50px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: 0.3s ease-in-out;
    z-index: 1;
    border: none;
    padding: 12px;
    opacity: 0;
    box-shadow: 0px 0 24px 0px rgba(0, 0, 0, 0.111);
    i {
        color: #000000;
    }
    &:hover{
    cursor: pointer;
    background-color: $main-color;
    i {
        color: #ffffff;
    }
    }
}
.button.active{
    opacity: 1;
}

@media (max-width: 768px) {
    #burgerno{
        display: none;
    }
    .page{
        padding: 2rem 0 !important;
       h1{
        font-size: 40px !important;
        letter-spacing: normal !important;
       }
       a{
           font-size: 12px !important;
        }
        i{
            padding: 6px 8px 0 8px !important;
            font-size: 10px !important;
        }
       ul{
        padding-top: 0px !important;
       }
    }
    #main-content{
        .watermark{
            &::before{
                letter-spacing: -4px !important;
                font-size: 60px !important;
                line-height: 50px !important;
                z-index: +11 !important;
            }
        }
        .circle{
             transform: translate(-14%, -55%) !important;
        }
        h2{
            font-size: 22px !important;
        }
        p{
            font-size: 15px !important;
        }
        .mission-img{
            img{
                width: 100%;
            }
        }
        .expos-img{
            left: 50% !important;
        }
        .mission-text{
            .watermarkk{
                &::before{
                    font-size: 45px !important;
                }
            }
            ul{
                padding-left: 0px !important;
            }
        }
    }
    #main-end{
        .passage-card{
            margin-bottom: 30px !important;
            padding: 1rem !important;
            .passage-img{
                img{
                    width: 340px !important;
                    height: 230px !important;
                }
            }
            .passage-text{
                h4{
                    font-size: 15px !important;
                    padding-left: 10px !important; 
                }
            }
        }
    }
    

}