header{
    nav{
        background-color: $white;
        .logo-area{
            a{
                display: block;
                img{
                    width: 75%;
                    height: 93%;
                    object-fit: contain;
                }
            }
        }
        .nav-area{
            // border: 2px solid red;
            display: flex;
            .main-nav{
                width: 100%;
                // border: 2px solid red;
                margin: 0;
                padding: 0;
                list-style: none;
                @include flexible(
                    flex, space-between, center, row
                );
               .main-li{
                // border: 2px solid red;
                position: relative;
                height: 100%;
                // width: calc(100%/9);
                @include flexible(flex,center,center,row);
                .main-a{
                    
                    @include flexible(
                        inline-flex,
                        center,
                        center,
                        row
                    );
                    @include textFont(
                        $f_size:16px, 
                        $f_color:$black,
                        $text_decaration:none,
                        $text_weight:700,
                        $padding:5px 13px
                    );
                    
                    background-position: -100%;
                    background-image: linear-gradient(
                        to right,
                        $main-color,
                        $main-color 50%,
                        #000 50%
                    );
                    background-size: 200% 100%;
                    background-position: -100%;
                    display: inline-block;
                    
                    position: relative;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transition: all 0.3s ease-in-out;
                    &::before{
                        content: '';
                        background: $main-color;
                        display: block;
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        width: 0;
                        height: 3px;
                        transition: all 0.3s ease-in-out;
                    }
                    &:hover{
                        background-position: 0;
                    }
                    &:hover::before{
                        width: 100%;
                    }
                }
                &:nth-child(2){
                    background: rgba(255, 144, 48, 0.3);
                    &:hover{
                        .sub-menu-nav-one{
                            height: auto;
                            opacity: 1;
                            visibility: visible;
                            z-index: 2;
                            transform: rotateX(0) translateZ(0);
                            transition: transform 0.6s 0.2s cubic-bezier(.19,1,.22,1), opacity 0.1s 0.2s, visibility 0.1s 0.2s;
                            .sub-img-area{
                                background:url("../img/main-image/megamenu_1-2.webp") no-repeat;
                                background-size: cover;
                                background-position: center;

                            }
                            .sub-menu-ul{
                                // display: flex;
                                // flex-direction: row;
                                // flex-wrap: wrap;
                                // column-count: 3;
                                display: flex;
                                flex-direction: column;
                                align-items: stretch;
                                align-content: stretch;
                                justify-content: space-around;
                                width: 100%;
                                height: 500px;
                                // column-count: 3;
                                background: url("../img/main-image/map_transparent_dark.png");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-color: white;
                                margin: 0;
                                padding: 0;
                                li{
                                    list-style: none;
                                    width: 100%;
                                    text-align: left;
                                    position: relative;
                                    &::before{
                                        content: "";
                                        display: block;
                                        position: absolute;
                                        bottom: 0;
                                        left: 16px;
                                        height: 1px;
                                        background-color: $white-a;
                                        width: calc(100% - 32px);
                                    }
                                    a{
                                        color: $black;
                                        font-size: 18px;
                                        font-weight: 700;
                                        letter-spacing: 0.25px;
                                        text-decoration: none;
                                        text-transform: none;
                                        backface-visibility: hidden;
                                        padding: 8px 24px;      
                                        display: inline-flex;                      
                                        
                                    }
                                }
                            }
                        }
                    }
                }
                &:nth-child(3){

                   &:hover{
                        cursor: pointer;
                        .sub-menu-two{
                            // border: 2px solid red;
                            opacity: 1;
                            visibility: visible;
                            z-index: 2;
                            transform: rotateX(0) translateZ(0);
                            transition: transform 0.6s 0.2s cubic-bezier(.19,1,.22,1), opacity 0.1s 0.2s, visibility 0.1s 0.2s;
                            ul{
                                padding: 0;
                                margin: 0;
                                list-style: none;
                                // border: 2px solid red;
                                // border: 1px solid $white-a;
                                z-index: 2;
                                min-width: 300px;
                                max-width: 300px;
                                padding: 24px 0;
                                background-color: $white;
                                box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0/ 8%);
                                
                                li{
                                    margin:0px 24px;
                                    line-height: 24px;
                                    font-size: 16px;
                                    font-weight: 600;
                                    margin-bottom: 13px;
                                }

                            }
                        }
                        
                    }
                }
                &:nth-child(4){

                    &:hover{
                         cursor: pointer;
                         .sub-menu-two{
                             // border: 2px solid red;
                             opacity: 1;
                             visibility: visible;
                             z-index: 2;
                             transform: rotateX(0) translateZ(0);
                             transition: transform 0.6s 0.2s cubic-bezier(.19,1,.22,1), opacity 0.1s 0.2s, visibility 0.1s 0.2s;
                             ul{
                                 padding: 0;
                                 margin: 0;
                                 list-style: none;
                                 // border: 2px solid red;
                                 // border: 1px solid $white-a;
                                 z-index: 2;
                                 min-width: 300px;
                                 max-width: 300px;
                                 padding: 24px 0;
                                 background-color: $white;
                                 box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0/ 8%);
                                 
                                 li{
                                     margin:0px 24px;
                                     line-height: 24px;
                                     font-size: 16px;
                                     font-weight: 600;
                                     margin-bottom: 13px;
                                 }
 
                             }
                         }
                         
                     }
                }
                &:nth-child(5){

                    &:hover{
                         cursor: pointer;
                         .sub-menu-two{
                             // border: 2px solid red;
                             opacity: 1;
                             visibility: visible;
                             z-index: 2;
                             transform: rotateX(0) translateZ(0);
                             transition: transform 0.6s 0.2s cubic-bezier(.19,1,.22,1), opacity 0.1s 0.2s, visibility 0.1s 0.2s;
                             ul{
                                 padding: 0;
                                 margin: 0;
                                 list-style: none;
                                 // border: 2px solid red;
                                 // border: 1px solid $white-a;
                                 z-index: 2;
                                 min-width: 300px;
                                 max-width: 300px;
                                 padding: 24px 0;
                                 background-color: $white;
                                 box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0/ 8%);
                                 
                                 li{
                                     margin:0px 24px;
                                     line-height: 24px;
                                     font-size: 16px;
                                     font-weight: 600;
                                     margin-bottom: 13px;
                                 }
 
                             }
                         }
                         
                     }
                }
                .sub-menu-nav-one{
                    position: absolute;
                    width: 1200px;
                    max-width: 1200px;
                    // height: 1000px;
                    margin-left: -220px;
                    top: 83px;
                    left: 90px;
                    // border: 2px solid red;
                    background-color: $white-a;
                    opacity: 0;
                    visibility: hidden;
                }
                .sub-menu-two{
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    top: 83px;
                    left: 0;
                }
               }
            }
        }
        .nav-right-side{
            // border: 2px solid red;
            @include flexible(flex,flex-end,center,row);
            .phone-area{
                display: none;
                
                color: #616161;
                span{
                    font-size: 24px;
                    font-weight: 400;
                }
                @media (min-width:1700px) {
                    @include flexible(flex,center,center,row);
                }
            }
            .border-area{
                line-height: 84px;
                display: block;
                position: relative;
                vertical-align: top;
                margin: 0px 10px 0px 12px;
                .line{
                    border-bottom-color: #e0e0e0;
                    border-bottom-style: solid;
                    height: 48px;
                    border-bottom-width: 73px;
                    width: 1px;
                }
            }
            .search-area{
                @include flexible(flex,center,center,row);
                details{
                    summary{
                        font-size: 24px;
                        color: #616161;
                        &::marker{
                            content: '';
                        }
                    }
                }
            }
            .language-area{
                width: 10%;
                @include flexible(flex,center,center,row);
                details{
                    summary{
                        // border: 2px solid red;
                        // width: 70%;
                        &::marker{
                            content: '';
                        }
                        img{
                            width: 40px;
                            height: 40px;
                            object-fit: contain;
                        }
                    }
                }
            }
            .calculator{
                // border: 2px solid red;
                background-color: $main-color;
                a{
                    text-decoration: none;
                    display: flex;
                    width: 180px;
                    height: 84px;
                    padding-top: 0;
                    padding-bottom: 0;
                    padding-left: 15px;
                    font-size: 16px !important;
                    font-weight: 600;
                    letter-spacing: 0.25px;
                    line-height: 84px !important;
                    text-transform: none;
                    color: #000000;
                    border-radius: 0px;
                    background: linear-gradient(0deg, $black, $black) no-repeat right bottom / 0 var(--bg-h);
                    transition: background-size 350ms;
                    --bg-h: 100%;
                    &:where(:hover, :focus-visible) {
                        background-size: 100% var(--bg-h);
                        background-position-x: left;
                        color: $white;
                    }
                    
                }
            }
        }
    }
}

main{
    #main-one{
        // border: 2px solid red;
        
        .owl-carousel, .owl-loaded, .owl-drag{
            padding: 0 ;
        }
        .owl-item{
            height: calc(100vh - 84px);
        }
       
        .caruesel-content{
            // border: 2px solid black;
            width: 100%;
            height: 100%;
            .caruesel-img-side{
                position: relative;
                   
                img{
                    width: 100%;
                    max-width: 100%;
                    object-fit: contain;
                }
            }
            .animation-class{
                animation: createBox 10s infinite;
                @keyframes createBox {
                    // from {
                    //   transform: scale(0);
                    // }
                    
                    // to {
                    //   transform: scale(1);
                    // }
                    0%{
                        transform: scale(1);
                        overflow: hidden;
                    }
                    25%{
                        transform: scale(1.02);
                        overflow: hidden;
                    }
                    50%{
                        transform: scale(1.03);
                        overflow: hidden;
                    }
                    100%{
                        transform: scale(1.04);
                        overflow: hidden;
                    }

                  }
            }
            .caruesel-title{
                position: absolute;
                bottom: 150px;
                left: 50px;
                h2{
                    @include textFont(
                        $f_size:60px,
                        $text_weight:700,
                        $f_color:$main-color,
                        $margin:0 0 10px 0,
                        $transform:uppercase
                    );
                    letter-spacing: 5px;
                }
                p{
                    @include textFont(
                        $f_size:17px,
                        $f_color:$white,
                        $transform:uppercase,
                        $margin:0,
                        $text_weight:600
                    );
                }
            }
        }
        .owl-nav{
            position: absolute;
            right: 0;
            bottom: 0;
            .owl-prev{
                width: 90px;
                height: 90px;
                background-color: $white;
                transition: 0.3s ease-in-out;
                span{
                    
                    font-size: 30px;
                    font-weight: 700;

                }
                &:hover{
                    background-color: $black;
                    span{
                        color: $white;
                    }
                }
            }
            .owl-next{
                width: 90px;
                height: 90px;
                background-color: $main-color;
                transition: 0.3s ease-in-out;
                span{
                    font-size: 30px;
                    font-weight: 700;
                }
                &:hover{
                    background-color: $black;
                    span{
                        color: $white;
                    }
                }
            }
        }
    }
    #main-two{
        .two-before-container-area{
            position: relative;
            &::before{
                content: "MILIS NURSERIES";
                @include textFont(
                    $f_size:150px,
                    $text_weight:700,
                    $f_color: #f0f0f0
                );
                transform: translate(-50%, -50%);
                letter-spacing: 0;
            }
        }
        .two-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .two-logo{
                text-align: center;
            }
            h2{
                @include textFont(
                    $transform:none,
                    $text_weight:700,
                    $f_color:$black,
                    $margin: 0 0 16px 0,
                    $text_align:center
                );
                letter-spacing: 0;
                width: 50%;
            }
            p{
                width: 50%;
                @include textFont(
                    $text_align:center,
                    $margin:0 0 24px 0,
                    $f_color:$white-a
                );
            }
        }
    }
    #main-three{
        .main-three-title{
            height: 200px;
            width: 100%;
            letter-spacing: 3px;
            position: relative;
            z-index: 2;
            @include flexible(
                flex,
                center,
                center,
                row
            );
            @include textFont(
                $text_weight:bold,
                $f_size:30px,
                $transform:uppercase,
                $text_align:center,
                $f_color:$black
            );
            &::after{
                content: "Plants";
                position: absolute;
                z-index: -1;
                top:-4%;
                right: -8%;
                font-size: 150px;
                letter-spacing: 0;
                text-transform: uppercase;
                // width: calc(100vw - 20px);
                // width: 100%;
                // border: 2px solid red;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                color: #f0f0f0;
                font-weight: 700;
            }
        }
        .cards-area{
            .fruit-card{
                &:nth-child(n):hover{
                    p{
                        color: $white;
                    }
                }
                &:nth-child(1):hover{
                    background-color: #007DCFFF;
                }
                &:nth-child(2):hover{
                    background-color: #00544DFF;
                }  
                &:nth-child(3):hover{
                    background-color: #260D56FF;
                } 
                &:nth-child(4):hover{
                    background-color: $main-color;
                }
                &:nth-child(5):hover{
                    background-color: #7DBA00FF;
                }
                &:nth-child(6):hover{
                    background-color: #E60D2DFF;
                }
                &:nth-child(7):hover{
                    background-color: #0894D8FF;
                }
                &:nth-child(8):hover{
                    background-color: #36578EFF;
                }
                &:nth-child(9):hover{
                    background-color: #7DBA00FF;
                }
                &:nth-child(10):hover{
                    background-color: #00544DFF;
                }
                &:nth-child(11):hover{
                    background-color: #E60D2DFF;
                }
                &:nth-child(12):hover{
                    background-color: #00544DFF;
                }
                transition: 0.3s ease-in-out;
                @include flexible(
                    flex,
                    center,
                    center,
                    column
                );
                padding: 16px 32px;
                min-height: 200px;
                text-align: center;
                p{
                    @include textFont(
                        $f_size:19px,
                        $text_weight:bold,
    
                    );
                }
                .fruit-img-area{
                    width: 100%;
                    margin: 0 auto;
                    text-align: center;
                    img{
                        width: auto;
                        display: inline-block;
                        max-width: 100%;
                        height: auto !important;
                        
                    }
                }
            }
        }
       
    }
    #main-four{
        background-color: #F0F0F0FF;
        position: relative;
        padding: 80px 0px;
        &::before{
            content: "";
            position: absolute;
            z-index: 0;
            top: -50%;
            right: calc(100% - 2rem);
            display: block;
            width: 100%;
            height: 100%;
            background: #224433;
        }
        &::after{
            content: '';
            position: absolute;
            z-index: 0;
            bottom: 20px;
            right: 0px;
            display: block;
            width: 45px;
            height: 90px;
            border-radius: 12rem 0 0 12rem;

            background: #224433;
        }
        .main-four-title{
            padding: 20px 0;
            h2{
                letter-spacing: 0;
                text-align: center;
                @include textFont(
                    $f_size:40px,
                    $line_height:1.2,
                    $f_color:$black,
                    $margin:0 0 32px 0,
                    $text_weight:bold,
                );
                
            }
        }
        .main-four-card{    
            @include flexible(
                flex,
                center,
                center,
                row
            );
            .card-content{
                width: 87%;
                background-color: $white;
                height: 400px;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                padding: 15px 15px;
            }
            
            .card-image{
                // border: 1px solid red;
                padding: 4%;
                img{
                    width: 100%;   
                    height: 200px;
                    object-fit: cover;
                }
            }
            .card-description{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 1.25rem;
                h3{
                    @include textFont(
                        $f_size:20px,
                        $line_height:32px,
                        $margin:0 0 0.75rem 0,
                        $text_weight:700,
                        $f_color:$black,
                    );
                    letter-spacing: 0;
                }
                p{
                    @include textFont(
                        $margin:0 0 24px 0,
                        $padding:0,
                        $line_height:22px,
                        $f_size:16px,
                        $f_color:$text-color
                    );
                    text-align: center;
                    letter-spacing: 0;
                }
            }
        }
    }
    #main-five{
        // border: 2px solid red;
        background-image: url("../img/main-image/fytoriamilis-02.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        .main-five-title{
            // border: 2px solid red;
            margin-top: 30px;
            padding-top: 20px;
            @include flexible(
                flex,
                center,
                center,
                column
            );
            h2{
                letter-spacing: 0px;
                text-align: center;
                @include textFont(
                    $f_color:$white,
                    // $text_weight:300,
                    $f_size:32px,
                    $line_height:40px,
                    $margin:0 0 20px 0
                );
            }
            p{
                @include textFont(
                    $margin:0 0 24px 0,
                    $padding:0,
                    $f_color:$white,
                    $text_weight:400,
                    $f_size:25px

                );
                text-align: center;
                width: 50%;
            }
        }
    }
}

footer{
    color: $white;
    background-color: $black;
    .footer-up{
        padding-top: 96px;
        padding-bottom: 32px;
        
    .footer-img-side{
        img{
            max-width: 300px;
            object-fit: contain;
        }
        p{
            font-size: 14px;
            line-height: 28px;
        }
    }
    .footer-contact{
        // border: 1px solid red;
        h2{
            text-transform: none;
            font-weight: 700;
            letter-spacing: 0;
            font-size: 20px;
            margin-bottom: 32px;
            position: relative;
            &::before{
                
                content: "";
                background-color: $main-color;
                position: absolute;
                bottom: -4px;
                left: 0;
                display: block;
                height: 2px;
                // background-color: #e0e0e0;
                width: 24px;
            }
            &::after{
                content: "";
                position: absolute;
                bottom: -4px;
                left: 26px;
                display: block;
                height: 2px;
                background-color: #e0e0e0;
                width: 36px;
            }
        }
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                @include flexible($flex:flex);
                padding: 5px 0;
                // padding-left: 2rem;
                i{
                    color:$main-color;
                    margin-top: -2px;
                    margin-right: 8px;
                }
                a{
                    color: $white-a;
                    font-size: 16px;
                    line-height: 32px;
                    letter-spacing: 0.5px;
                    font-weight: 700;
                    transition: 300ms ease-out;
                    text-decoration: none;
                    &:hover{
                        color: $white;
                    }
                }
            }
        }
        .icons-area{
            padding-top: 10px;
            display: flex;
            justify-content: flex-start;
            a{
                text-decoration: none;
                letter-spacing: 0.5px;
                color: $white-a;
                transition: 300ms auto ease-out;
                font-size: 20px;
                line-height: 36px;
                display: inline-flex;
                width: 40px;
                height: 36px;
                align-items: center;
                justify-content: flex-start;
                text-align: center;
                &:hover{
                    color: $white;
                }
            }
        }
        .footer-right{
            @media (min-width:1200px) {
                column-count: 3;
            }
        }
    }
    }
    .footer-down{
        background-color: black;
        padding-top: 22px;
        padding-bottom: 16px;
        padding-left: 72px;
        padding-right: 90px;
        .wrap-copyright{
            span{
                text-align: left;
                font-weight: 600;
                color: $white-a;
            }
            strong{
                color: $white-a;
            }
            .legal{
                a{
                    line-height: 32px;
                    letter-spacing: 0.5px;
                    color: $white-a;
                    text-decoration: none;
                    transition: 300ms auto ease-out;
                    font-size: 16px;
                    &:hover{
                        color: white;
                    }
                }
            }
        }
        .wrap-signature{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            a{
                font-size: 16px;
                color: $white-a;
                text-decoration: none;
                transition: 300ms auto ease-out;
                &:hover{
                    color: $white;
                }
            }

        }
    }
}