header{

    nav{
        background-color: $white;
        .logo-area{
            a{
                display: block;
                img{
                    width: 75%;
                    height: 93%;
                    object-fit: contain;
                }
            }
        }
        .nav-area{
            // border: 2px solid red;
            display: flex;
            .main-nav{
                width: 100%;
                // border: 2px solid red;
                margin: 0;
                padding: 0;
                list-style: none;
                @include flexible(
                    flex, space-between, center, row
                );
               .main-li{
                // border: 2px solid red;
                position: relative;
                height: 100%;
                // width: calc(100%/9);
                @include flexible(flex,center,center,row);
                .main-a{
                    
                    @include flexible(
                        inline-flex,
                        center,
                        center,
                        row
                    );
                    @include textFont(
                        $f_size:16px, 
                        $f_color:$black,
                        $text_decaration:none,
                        $text_weight:700,
                        $padding:5px 13px
                    );
                    
                    background-position: -100%;
                    background-image: linear-gradient(
                        to right,
                        $main-color,
                        $main-color 50%,
                        #000 50%
                    );
                    background-size: 200% 100%;
                    background-position: -100%;
                    display: inline-block;
                    
                    position: relative;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transition: all 0.3s ease-in-out;
                    &::before{
                        content: '';
                        background: $main-color;
                        display: block;
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        width: 0;
                        height: 3px;
                        transition: all 0.3s ease-in-out;
                    }
                    &:hover{
                        background-position: 0;
                    }
                    &:hover::before{
                        width: 100%;
                    }
                }
                &:nth-child(2){
                    background: rgba(255, 144, 48, 0.3);
                    &:hover{
                        .sub-menu-nav-one{
                            height: auto;
                            opacity: 1;
                            visibility: visible;
                            z-index: 2;
                            transform: rotateX(0) translateZ(0);
                            transition: transform 0.6s 0.2s cubic-bezier(.19,1,.22,1), opacity 0.1s 0.2s, visibility 0.1s 0.2s;
                            .sub-img-area{
                                background:url("../img/main-image/megamenu_1-2.webp") no-repeat;
                                background-size: cover;
                                background-position: center;

                            }
                            .sub-menu-ul{
                                // display: flex;
                                // flex-direction: row;
                                // flex-wrap: wrap;
                                // column-count: 3;
                                display: flex;
                                flex-direction: column;
                                align-items: stretch;
                                align-content: stretch;
                                justify-content: space-around;
                                width: 100%;
                                height: 500px;
                                // column-count: 3;
                                background: url("../img/main-image/map_transparent_dark.png");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-color: white;
                                margin: 0;
                                padding: 0;
                                li{
                                    list-style: none;
                                    width: 100%;
                                    text-align: left;
                                    position: relative;
                                    &::before{
                                        content: "";
                                        display: block;
                                        position: absolute;
                                        bottom: 0;
                                        left: 16px;
                                        height: 1px;
                                        background-color: $white-a;
                                        width: calc(100% - 32px);
                                    }
                                    a{
                                        color: $black;
                                        font-size: 18px;
                                        font-weight: 700;
                                        letter-spacing: 0.25px;
                                        text-decoration: none;
                                        text-transform: none;
                                        backface-visibility: hidden;
                                        padding: 8px 24px;      
                                        display: inline-flex;                      
                                        
                                    }
                                }
                            }
                        }
                    }
                }
                &:nth-child(3){

                   &:hover{
                        cursor: pointer;
                        .sub-menu-two{
                            // border: 2px solid red;
                            opacity: 1;
                            visibility: visible;
                            z-index: 2;
                            transform: rotateX(0) translateZ(0);
                            transition: transform 0.6s 0.2s cubic-bezier(.19,1,.22,1), opacity 0.1s 0.2s, visibility 0.1s 0.2s;
                            ul{
                                padding: 0;
                                margin: 0;
                                list-style: none;
                                // border: 2px solid red;
                                // border: 1px solid $white-a;
                                z-index: 2;
                                min-width: 300px;
                                max-width: 300px;
                                padding: 24px 0;
                                background-color: $white;
                                box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0/ 8%);
                                
                                li{
                                    margin:0px 24px;
                                    line-height: 24px;
                                    font-size: 18px;
                                    font-weight: 600;
                                    margin-bottom: 13px;
                                }

                            }
                        }
                        
                    }
                }
                &:nth-child(4){

                    &:hover{
                         cursor: pointer;
                         .sub-menu-two{
                             // border: 2px solid red;
                             opacity: 1;
                             visibility: visible;
                             z-index: 2;
                             transform: rotateX(0) translateZ(0);
                             transition: transform 0.6s 0.2s cubic-bezier(.19,1,.22,1), opacity 0.1s 0.2s, visibility 0.1s 0.2s;
                             ul{
                                 padding: 0;
                                 margin: 0;
                                 list-style: none;
                                 // border: 2px solid red;
                                 // border: 1px solid $white-a;
                                 z-index: 2;
                                 min-width: 300px;
                                 max-width: 300px;
                                 padding: 24px 0;
                                 background-color: $white;
                                 box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0/ 8%);
                                 
                                 li{
                                     margin:0px 24px;
                                     line-height: 24px;
                                     font-size: 18px;
                                     font-weight: 600;
                                     margin-bottom: 13px;
                                 }
 
                             }
                         }
                         
                     }
                }
                &:nth-child(5){

                    &:hover{
                         cursor: pointer;
                         .sub-menu-two{
                             // border: 2px solid red;
                             opacity: 1;
                             visibility: visible;
                             z-index: 2;
                             transform: rotateX(0) translateZ(0);
                             transition: transform 0.6s 0.2s cubic-bezier(.19,1,.22,1), opacity 0.1s 0.2s, visibility 0.1s 0.2s;
                             ul{
                                 padding: 0;
                                 margin: 0;
                                 list-style: none;
                                 // border: 2px solid red;
                                 // border: 1px solid $white-a;
                                 z-index: 2;
                                 min-width: 300px;
                                 max-width: 300px;
                                 padding: 24px 0;
                                 background-color: $white;
                                 box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0/ 8%);
                                 
                                 li{
                                     margin:0px 24px;
                                     line-height: 24px;
                                     font-size: 18px;
                                     font-weight: 600;
                                     margin-bottom: 13px;
                                 }
 
                             }
                         }
                         
                     }
                }
                .sub-menu-nav-one{
                    position: absolute;
                    width: 1200px;
                    max-width: 1200px;
                    // height: 1000px;
                    margin-left: -220px;
                    top: 83px;
                    left: 90px;
                    // border: 2px solid red;
                    background-color: $white-a;
                    opacity: 0;
                    visibility: hidden;
                }
                .sub-menu-two{
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    top: 83px;
                    left: 0;
                }
               }
            }
        }
        .nav-right-side{
            // border: 2px solid red;
            @include flexible(flex,flex-end,center,row);
            .phone-area{
                display: none;
                
                color: #616161;
                span{
                    font-size: 24px;
                    font-weight: 400;
                }
                @media (min-width:1700px) {
                    @include flexible(flex,center,center,row);
                }
            }
            .border-area{
                line-height: 84px;
                display: block;
                position: relative;
                vertical-align: top;
                margin: 0px 10px 0px 12px;
                .line{
                    border-bottom-color: #e0e0e0;
                    border-bottom-style: solid;
                    height: 48px;
                    border-bottom-width: 73px;
                    width: 1px;
                }
            }
            .search-area{
                @include flexible(flex,center,center,row);
                details{
                    summary{
                        font-size: 24px;
                        color: #616161;
                        &::marker{
                            content: '';
                        }
                    }
                }
            }
            .language-area{
                width: 10%;
                @include flexible(flex,center,center,row);
                details{
                    summary{
                        // border: 2px solid red;
                        // width: 70%;
                        &::marker{
                            content: '';
                        }
                        img{
                            width: 40px;
                            height: 40px;
                            object-fit: contain;
                        }
                    }
                }
            }
            .calculator{
                // border: 2px solid red;
                background-color: $main-color;
                a{
                    text-decoration: none;
                    display: flex;
                    width: 180px;
                    height: 84px;
                    padding-top: 0;
                    padding-bottom: 0;
                    padding-left: 15px;
                    font-size: 16px !important;
                    font-weight: 600;
                    letter-spacing: 0.25px;
                    line-height: 84px !important;
                    text-transform: none;
                    color: #000000;
                    border-radius: 0px;
                    background: linear-gradient(0deg, $black, $black) no-repeat right bottom / 0 var(--bg-h);
                    transition: background-size 350ms;
                    --bg-h: 100%;
                    &:where(:hover, :focus-visible) {
                        background-size: 100% var(--bg-h);
                        background-position-x: left;
                        color: $white;
                    }
                    
                }
            }
        }
    }
}

footer{
    color: $white;
    background-color: $black;
    .footer-up{
        padding-top: 96px;
        padding-bottom: 32px;
        
    .footer-img-side{
        img{
            max-width: 300px;
            object-fit: contain;
        }
        p{
            font-size: 14px;
            line-height: 28px;
        }
    }
    .footer-contact{
        // border: 1px solid red;
        h2{
            text-transform: none;
            font-weight: 700;
            letter-spacing: 0;
            font-size: 20px;
            margin-bottom: 32px;
            position: relative;
            &::before{
                
                content: "";
                background-color: $main-color;
                position: absolute;
                bottom: -4px;
                left: 0;
                display: block;
                height: 2px;
                // background-color: #e0e0e0;
                width: 24px;
            }
            &::after{
                content: "";
                position: absolute;
                bottom: -4px;
                left: 26px;
                display: block;
                height: 2px;
                background-color: #e0e0e0;
                width: 36px;
            }
        }
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                @include flexible($flex:flex);
                padding: 5px 0;
                // padding-left: 2rem;
                i{
                    color:$main-color;
                    margin-top: -2px;
                    margin-right: 8px;
                }
                a{
                    color: $white-a;
                    font-size: 16px;
                    line-height: 32px;
                    letter-spacing: 0.5px;
                    font-weight: 700;
                    transition: 300ms ease-out;
                    text-decoration: none;
                    &:hover{
                        color: $white;
                    }
                }
            }
        }
        .icons-area{
            padding-top: 10px;
            display: flex;
            justify-content: flex-start;
            a{
                text-decoration: none;
                letter-spacing: 0.5px;
                color: $white-a;
                transition: 300ms auto ease-out;
                font-size: 20px;
                line-height: 36px;
                display: inline-flex;
                width: 40px;
                height: 36px;
                align-items: center;
                justify-content: flex-start;
                text-align: center;
                &:hover{
                    color: $white;
                }
            }
        }
        .footer-right{
            @media (min-width:1200px) {
                column-count: 3;
            }
        }
    }
    }
    .footer-down{
        background-color: black;
        padding-top: 22px;
        padding-bottom: 16px;
        padding-left: 72px;
        padding-right: 90px;
        .wrap-copyright{
            span{
                text-align: left;
                font-weight: 600;
                color: $white-a;
            }
            strong{
                color: $white-a;
            }
            .legal{
                a{
                    line-height: 32px;
                    letter-spacing: 0.5px;
                    color: $white-a;
                    text-decoration: none;
                    transition: 300ms auto ease-out;
                    font-size: 16px;
                    &:hover{
                        color: white;
                    }
                }
            }
        }
        .wrap-signature{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            a{
                font-size: 16px;
                color: $white-a;
                text-decoration: none;
                transition: 300ms auto ease-out;
                &:hover{
                    color: $white;
                }
            }

        }
    }
}