@import "./variable";
@import "./mixin";
@import "./main";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    &::selection{
       background-color: #CFD8DCFF;
    }
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   
}
footer{
    
    margin-top: auto;
}
